@model int


<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary-center">ORDER PLACED SUCCESFULLY</h1>
        YOUR ORDER NUMBER IS: @Model <br/></br/>

        <img src="~/images/landscape.png" width="65%"></img>
    </div>
    <div class="col-12 text-center" style="color: maroon"></div>
        <br/>
        Your Order Has Been Placed Successfully
</div>