@model Product


<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 my-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Product</h2>

        </div>
    </div>

    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="Title">Product Title</label>
        <input asp-for="Title" class="form-control" />
        @* <span asp-validation-for="Name" class="text-danger"></span> *@
    </div>

    <div class="mb-3">
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        @*  <span asp-validation-for="DisplayOrder" class="text-danger"></span> *@
    </div>
    <div class="mb-3">
        <label asp-for="ISBN">ISBN</label>
        <input asp-for="ISBN" class="form-control" />
        @* <span asp-validation-for="Name" class="text-danger"></span> *@
    </div>

    <div class="mb-3">
        <label asp-for="Author">Author</label>
        <input asp-for="Author" class="form-control" />
        @*  <span asp-validation-for="DisplayOrder" class="text-danger"></span> *@
    </div>
    <div class="mb-3">
        <label asp-for="ListPrice">List Price</label>
        <input asp-for="ListPrice" class="form-control" />
        @* <span asp-validation-for="Name" class="text-danger"></span> *@
    </div>

    <div class="mb-3">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" class="form-control" />
        @*  <span asp-validation-for="DisplayOrder" class="text-danger"></span> *@
    </div>
    <div class="mb-3">
        <label asp-for="Price50">Price50</label>
        <input asp-for="Price50" class="form-control" />
        @* <span asp-validation-for="Name" class="text-danger"></span> *@
    </div>

    <div class="mb-3">
        <label asp-for="Price100">Price100</label>
        <input asp-for="Price100" class="form-control" />
        @*  <span asp-validation-for="DisplayOrder" class="text-danger"></span> *@
    </div>
    <div class="row">
        <div class="col-6 col-md-3">
            <button type="submit" class="btn btn-primary form-control">Update</button>
        </div>
        <div class="col-6 col-md-3">
            <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary border text-dark form-control">Back to list</a>
        </div>
    </div>


</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}